body {
  font-family: 'Montserrat', sans-serif;
}

header {
  text-align: center;
}

.bookmark-container {
  margin: 0 auto;
  text-align: center;
  padding: 0px;
}

#expanded-add-bookmark {
  text-align: center;
}

.addTitle, .addURL, .addDesc {
  display: block;
  margin-bottom: 5px;
  width: 100%;
}

.error-container {
  color: red;
  display: block;
  margin: 10px auto 10px auto;
}

hr {
  border: 1px solid grey;
  margin-bottom: 20px;
}

.error {
  display: block;
  text-align: center;
}

button:hover {
  cursor: pointer;
}

button {
  height: auto;
  text-align: center;
  padding: 5px;
  border-radius: 3px;
  background: #fcfcfc;
  margin: 10px auto;
  font-family: 'Montserrat', sans-serif;
}

.add-rating, .min-rating {
  font-family: 'Montserrat', sans-serif;
}

.expand-me {
  display: block;
  width: 25%;
}

.add-rating {
  display: block;
  width: 25%;
  margin: 10px auto;
}

.delete, .return {
  display: inline-block;
  width: 35%;
}

.initialAdd {
  display: block;
  width: 75%;
  margin-bottom: 25px;
}

.bookmarkAdd, .bookmarkCancel {
  width: 25%;
  display: inline-block;
}

.cancelError {
  margin-bottom: 25px;
  display: block
}

.add-bookmark-container {
  width: 75%;
  display: block;
  margin: 10px auto 10px auto;
}

h3, a {
  font-size: 18px;
  font-style: normal;
  text-align: center;
}


.link {
  display: block;
  margin-bottom: 5px;
}

.stars {
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}

li {
  display: block;
  width: 75%;
  list-style: none;
  padding-left: 0;
  border: 1px;
  margin-left: auto;
  margin-right: auto;
  background-color: #EDF4F8;
  border-radius: 15px;
  border: 1px grey solid;
  margin-bottom: 10px;
  text-align: center;
}

